<h1>Checkbox</h1>

<we-checkbox-group name="fruits" [changeCallback]="checkboxHandler.bind(this)">
  <we-checkbox value="banana">Banana</we-checkbox>
  <we-checkbox disabled="true" value="apple">Apple</we-checkbox>
  <we-checkbox value="pear">Pear</we-checkbox>
</we-checkbox-group>

<we-divider />

<we-checkbox-group name="animal" [changeCallback]="checkboxHandler.bind(this)">
  <we-checkbox value="cat">Cat</we-checkbox>
  <we-checkbox value="dog">Dog</we-checkbox>
  <we-checkbox value="mouse">Mouse</we-checkbox>
</we-checkbox-group>
